table.calendar {
	background: #c0f7dc;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

table.calendar td {
	text-align: center;
}

table.calendar td.month_year_display {
	font-weight: bold;
}

table.calendar td.selectedDay {
	border-style: inset;
	font-weight: bold;
	border-width: 2px;
}

table.calendar a:hover {
	cursor: pointer;
}