div.drop-down-closed {
	position: relative;
	top: 0px;
	height: 1.5em;
	overflow: hidden;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	width: 400px;
	text-align: left;
}

span.drop-down-arrow {
	position: absolute;
	top: 0px;
	right: 0px;
	border-color: #d6d6d6;
	border-width: 2px;
	border-radius: 5px;
	border-style: outset;
	padding-left: 4px;
	padding-right: 4px;
}

span.drop-down-arrow:hover {
	cursor: pointer;
}

div.drop-down-open {
	position: relative;
	width: 400px;
	overflow: auto;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	height: 400px;
	text-align: left;
}